{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>Info about our company</h1>

    <p>Welcome to Puppy Blog, your go-to destination for everything related to dogs! Whether you're a first-time pet parent or a seasoned canine enthusiast, we’re here to provide insights, tips, and inspiration for every dog lover. Our mission is simple: to celebrate the joy, love, and companionship that dogs bring into our lives while fostering a community where dog enthusiasts can share their experiences. From training guides and health tips to heartwarming stories and adorable puppy photos, Puppy Blog keeps you informed and entertained about your furry best friends. We believe every pup deserves a happy and healthy life, and we are dedicated to equipping dog owners with the tools and knowledge to make that happen.</p>
</div>

{% endblock %}